<%def name="icon()">
	<div class="icon">
		<a href="/"><img src="${url_for('static', filename='pics/perseus.jpg')}" /></a>
	</div>
</%def>

<%def name="subject_list()">
	<ul>
		<%
			from config import subject_list
		%>
		% for subject, url in subject_list:
		<li><a href="${url}">${subject}</a></li>
		% endfor
	</ul>
</%def>

<%def name="include(_dir, _file)">
${open("%s/%s" % (_dir, _file), "rb").read()}
</%def>

<%def name="add_resources(*files)">
	% for f in files:
		% if f.index(".") > 0:
			<% ext = f.split(".")[1] %>
			% if ext == "js":
				<script src="${url_for('static', filename=f)}"></script>
			% elif ext == "css":
				<link href="${url_for('static', filename=f)}" rel="stylesheet" />
			% endif
		% endif
	% endfor
</%def>
